:root {
  --primary-text-color: #183b56;
  --second-text-color: #61686e;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 3rem;
  color: var(--primary-text-color);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  color: var(--primary-text-color);
}

p {
  font-size: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--second-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* TopBanner  */
.topBanner-box {
  background-image: url(./assets/asset\ 28.png);
  background-size: 300px;
  background-color: #e74694;
}

.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
}

.banner-text {
  color: white;
  padding: 13px 30px;
  text-align: center;
}

/* Navbar  */
.navbar-box {
  margin-top: 15px;
  justify-content: space-between;
  position: relative;
}

.company-logo img {
  width: 40%;
}

.navlinks {
  flex-basis: 800px;
}

.nav-toggle {
  display: none;
}

.active-link {
  color: var(--pripary-text-color);
}

.active-link:hover {
  color: var(--accent-color);
  transition: 0.2s ease-out;
}

nav {
  justify-content: end;
  gap: 20px;
}

.primary-btn {
  border-radius: 6px;
  background-color: var(--accent-color);
  padding: 12px 24px;
  font-weight: 500;
  color: white !important;
  box-shadow: 0 0 2px var(--second-text-color);
  transition: 0.2s ease-out;
}

.primary-btn:hover {
  background-color: var(--accent-color-dark);
}

.secondary-btn {
  border-radius: 6px;
  border: 0.5px solid var(--accent-color);
  padding: 12px 24px;
  color: var(--accent-color) !important;
}

/* Header Section  */
header {
  padding: 50 var(--padding-inline-section) 0;
  margin-top: 100px;
}

.header-section {
  justify-content: center;
  gap: 10px;
}

.left-header {
  width: 50vw;
}

.left-header p {
  margin-top: 20px;
}

.right-header img {
  width: 100%;
}

.get-started-btn {
  margin-top: 20px;
}

/* Companies section  */
.companies-section {
  margin-top: 80px;
}

.companies-heading {
  color: var(--second-text-color) !important;
  text-align: center;
  padding: 40px;
  /* margin-top: 25px; */
}

.companies-logos {
  gap: 50px;
  justify-content: center;
  margin-bottom: 25px;
}

.logos {
  align-content: space-between;
}

.logo {
  height: 46px;
}

/* Features-section  */
#features-section {
  padding: 150px var(--padding-inline-section) 0;
  background-image: url(./assets/asset\ 29.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.features-heading {
  text-align: center;
}

.features-heading h2 {
  color: var(--primary-text-color) !important;
  margin-bottom: 20px;
}

.features-area {
  margin-top: 20px;
  justify-content: center;
  height: 550px;
  flex-wrap: wrap;
}

.features-card {
  flex-direction: column;
  max-width: 30%;
  gap: 10px;
}

.features-card p {
  text-align: center;
}

.features-card img {
  height: 40px;
  width: 60px;
}

/* Big features section */
#big-features {
  padding: 30px;
}

.big-features-container {
  gap: 70px;
  margin-top: 50px;
}

.features-img img {
  width: 100%;
}

.features-descr {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.feature-descr-img img {
  width: 50%;
  margin-top: 15px;
}

.guoted-section {
  background-image: url(./assets/asset\ 30.svg);
  background-repeat: no-repeat;
  width: 80%;
  padding: 30px;
}

.human-img img {
  width: 50%;
  margin-left: 30px;
}

.human-details {
  color: var(--second-text-color);
}

.reverse-container {
  flex-direction: row-reverse;
}

/* Examples section */
.examples-section-container {
  margin-top: 125px;
}

.examples-area {
  justify-content: space-between;
  margin-block: 30px;
  flex-wrap: wrap;
}

.example-card {
  width: 16rem;
  min-height: 300px;
  position: relative;
  transition: 0.2s ease-out;
}

.example-card:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(/assets/asset\ 31.jpeg);
  background-size: cover;
}

.example-card:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(/assets/asset\ 32.jpeg);
  background-size: cover;
}

.example-card:nth-child(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(/assets/asset\ 33.jpeg);
  background-size: cover;
}

.example-card:nth-child(4) {
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(/assets/asset\ 34.jpeg);
  background-size: cover;
}

.example-card-text {
  color: #ffffff;
  position: absolute;
  right: 10px;
  left: 10px;
  bottom: 10px;
  padding: 20px;
}

.example-card:hover {
  box-shadow: 5px 5px 10px #888;
}

/* CTA Section */
#cta-section {
  background-color: var(--primary-text-color);
}

.cta-section-container {
  gap: 60px;
  padding-block: 75px;
}

.cta-img img {
  width: 550px;
}

.cta-description {
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.cta-description h2{
  gap: 100px;
  color: #ffffff;
}

.cta-description p{
  color: #b9cde4;
}

.cta-description h3 {
  color: #ffffff;
}

.cta-descr-lists {
  gap: 50px;
  padding: 0 10px;
}

.cta-descr {
  color: #b9cde4;
}

.cta-buttom-section {
  gap: 10px;
  margin-top: 30px;
}

.secondary-white-btn {
  border-radius: 6px;
  border: 0.5px solid #b9cde4;
  padding: 12px 24px;
  color: #b9cde4;
}

/* cta-panel-container */
.cta-panel-container {
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  margin-top: 25vh;
  margin-bottom: 60px;
}

footer {
  background-color: #ebf2fa;
}

.footer-container {
  align-items: flex-start;
  justify-content: space-between;
  padding : 75px 0 25px;
}

.websiteLogo {
  width: 20%;
}

.footer-heading-list {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-heading-list a {
  color: var(--primary-text-color);
}

.footer-heading-list a:hover {
  color: var(--accent-color);
}

#subfooter-container {
  background-color: #b9cde4;
  padding: 20px;
}

.subfooter {
  justify-content: space-evenly;
}

.terms {
  gap: 20px;
  font-size: 15px;
  flex-wrap: wrap;
}

.terms a:hover {
  color: var(--primary-text-color);
}

.social-media {
  gap: 20px;
  font-size: 25px;
  transition: 0.2s ease-out;
}

.social-media a:hover{
  color: var(--primary-text-color);
}

.copyright p{
  font-size: 15px;
  color: var(--primary-text-color);
}