:root {
  --primary-text-color: #183b56;
  --second-text-color: #61686e;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}

.flex {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 3rem;
  color: var(--primary-text-color);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--second-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* TopBanner  */
.topBanner-box {
  background-image: url(./assets/asset\ 28.png);
  background-size: 300px;
  background-color: #e74694;
}

.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
}

.banner-text {
  color: white;
  padding: 13px 30px;
  text-align: center;
}

/* Navbar  */
.navbar-box {
  margin-top: 15px;
  justify-content: space-between;
}

.navlinks {
  flex-basis: 647px;
}

.active-link {
  color: var(--pripary-text-color);
}

.active-link:hover {
  color: var(--accent-color);
  transition: 0.2s ease-out;
}

nav {
  justify-content: end;
  gap: 30px;
}

.primary-btn {
  border-radius: 6px;
  background-color: var(--accent-color);
  padding: 12px 24px;
  font-weight: 500;
  color: white !important;
  box-shadow: 0 0 2px var(--second-text-color);
  transition: 0.2s ease-out;
}

.primary-btn:hover {
  background-color: var(--accent-color-dark);
}

.secondary-btn {
  border-radius: 6px;
  border: 0.5px solid var(--accent-color);
  padding: 12px 24px;
  color: var(--accent-color) !important;
}

/* Header Section  */
header {
  padding: 50 var(--padding-inline-section) 0;
  margin-top: 100px;
}

.header-section {
  justify-content: center;
  gap: 10px;
}

.left-header {
  width: 50vw;
}

.left-header p{
  margin-top: 20px;
}


.right-header img{
  width: 100%;
}

.get-started-btn {
  margin-top: 20px;
}

/* Companies section  */
.companies-section {
  margin-top: 80px;
}

.companies-heading {
  color: var(--second-text-color) !important;
  text-align: center;
  padding: 40px;
  /* margin-top: 25px; */
}

.companies-logos {
  gap: 50px;
  justify-content: center;
  margin-bottom: 25px;
}

.logos {
  align-content: space-between;
}

.logo {
  height: 46px;
}


/* Features-section  */
#features-section {
  padding: 150px var(--padding-inline-section) 0;
  background-image: url(./assets/asset\ 29.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vh;
}

.features-heading {
  text-align: center;
}

.features-heading h2 {
  color: var(--primary-text-color) !important;
  margin-bottom: 20px;
}

.features-area {
  margin-top: 20px;
  justify-content: center;
  height: 550px;
  flex-wrap: wrap;
}

.features-card {
  flex-direction: column;
  max-width: 30%;
  gap: 10px;
}

.features-card p {
  text-align: center;
}

.features-card img{
  height: 40px;
  width: 60px;
}


.features-card-img3 {
  height: 40px;
  width: 60px;
  background-image: url(./assets/asset\ 11.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.features-card-img4 {
  height: 40px;
  width: 60px;
  background-image: url(./assets/asset\ 12.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.features-card-img5 {
  height: 40px;
  width: 60px;
  background-image: url(./assets/asset\ 13.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.features-card-img6 {
  height: 40px;
  width: 60px;
  background-image: url(./assets/asset\ 14.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

/* Big features section */
#big-features {
  padding: 30px;
}

.big-features-container {
  gap: 70px;
  margin-top: 100px;
}

.features-img img {
  width: 100%;
}

.features-descr {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

}

.feature-descr-img img{
  width: 50%;
}

.guoted-section {
  background-image: url(./assets/asset\ 30.svg);
  background-repeat: no-repeat;
  width: 80%;
  padding: 30px;
}

.human-img img {
  width: 50%;
  margin-left: 30px;
}

.middle-big-features-container {
  flex-direction: row-reverse;
}

.buttom-spacer {
  height: 100vh;
}