/* Tablet Version */
@media screen and (max-width: 991px) {
  .navbar-box {
    overflow: initial;
  }

  .navlinks {
    position: absolute;
    left: -100%;
    top: 100%;
    width: 100%;
    background-color: #ffffff;
    padding-block: 20px;
    transition: 0.5s ease-out;
  }

  .active-navToggle {
    left: 0;
  }

  .navlinks nav {
    flex-direction: column;
  }

  .nav-toggle {
    display: block;
    margin-right: 20px;
    font-size: 2rem;
  }

  .header-section {
    flex-direction: column-reverse;
  }

  .right-header img {
    width: 100%;
  }

  .left-header {
    margin-top: 20px;
    width: 90%;
    text-align: center;
  }

  .left-header a {
    width: 80%;
  }

  #features-section {
    padding: 150px var(--padding-inline-section) 0;
    background-image: url(./assets/asset\ 29.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
  }

  .features-area {
  height: 800px;
  }

  .features-card {
  flex-direction: column;
  max-width: 50%;
  gap: 10px;
}

.big-features-container {
  margin: 30px;
}

.example-heading-container {
    margin-bottom: 50px;
}

  .example-area {
    gap: 10px;
  }

  .example-card {
    width: calc(50% - 10px);
    margin-bottom: 10px;
  }

  .cta-section-container {
    flex-direction: column;
  }

  .cta-description {
    align-items: center;
  }

  .cta-description p {
    color: #b9cde4;
    text-align: center;
  }

  .cta-panel-container {
    margin-top: 5vh;
  }

  .footer-container {
    justify-content: space-evenly;
  }
}

/* Large Mobile Devices */
@media screen and (max-width: 767px) {
  #features-section {
    background-position: bottom;
    background-size: contain;
  }
  .features-heading {
    margin-bottom: 40px;
  }
  .big-features-container {
    flex-direction: column;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .footer-container img{
    width: 50%;
  }

  .footer-heading-list {
    align-items: center;
  }

  .subfooter {
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 479px) {
  .banner-text {
    display: none;
  }
  
  .company-logo img{
    width: 60%;
  }
  .nav-toggle {
    font-size: 1.8rem;
  }
  .left-header h1 {
    font-size: 2rem;
  }

  .left-header p {
    font-size: 1rem;
  }

  .left-header a {
    width: 100%;
  }

  .companies-section {
    margin-top: 1px;
  }

  #features-section {
    background-image: none;
  } 

  .features-heading h2{
    font-size: 1.3rem;
  }

  .features-heading a{
    width: 70%;
  }

  .features-area {
  height: 100%;
  }

  .features-card {
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 40px;
  }

  .features-card h3 {
    font-size: 1.5rem;
  }

  .features-card p {
    font-size: 1.25rem;
  }

  .example-area {
    gap: 10px;
  }

  .example-card {
    width: 100%;
    margin-bottom: 10px;
  }

  .cta-section-container {
    gap: 1px;
  }

  .cta-description {
    gap: 15px;
  }

  .cta-img img {
    width: 100%;
  }

  .cta-descr-lists {
    flex-direction: column;
    gap: 1px;
    align-items: flex-start;
  }

  .cta-buttom-section {
    flex-direction: column;
  }

  .cta-panel-container {
    gap: 10px;
  }

  .cta-panel-container p {
    font-size: 1.2rem;
    text-align: center;
  }

  .cta-panel-container a {
    width: 40%;
    text-align: center;
    font-size: 0.9rem;
  }

  .terms {
    flex-direction: column;
  }
}